@{
    ViewBag.Title = "Movies";
    ViewBag.ActiveModule = "Movies";
}
@section HeadContent
{
    @Scripts.Render("~/bundles/angularMovieDvds")
}
<div data-ng-app="movieDvdsApp" data-ng-view="" data-ng-cloak="">
</div>