<script type="text/ng-template" id="custom/pager">
    <ul class="pagination ng-table-pagination pull-right">
        <li data-ng-class="{'disabled': !page.active}" data-ng-repeat="page in pages" data-ng-switch="page.type">
            <a data-ng-switch-when="prev" data-ng-click="params.page(page.number)">&laquo;</a>
            <a data-ng-switch-when="first" data-ng-click="params.page(page.number)">
                <span data-ng-bind="page.number"></span>
            </a>
            <a data-ng-switch-when="page" data-ng-click="params.page(page.number)">
                <span data-ng-bind="page.number"></span>
            </a><a data-ng-switch-when="more" data-ng-click="params.page(page.number)">&#8230;</a>
            <a data-ng-switch-when="last" data-ng-click="params.page(page.number)">
                <span data-ng-bind="page.number"></span>
            </a><a data-ng-switch-when="next" data-ng-click="params.page(page.number)">&raquo;</a>
        </li>
    </ul>
</script>